<div class="footer">
  <a href="https://www.instagram.com/"><img class="instagram" src="https://i.imgur.com/ln6omXg.png" alt=""></a>
  <a href="https://www.facebook.com/"><img class="facebook" src="https://i.imgur.com/XwSv8xM.png" alt=""></a>
  <a href="https://www.twitter.com/"><img class="twitter" src="https://i.imgur.com/YpssI1V.png" alt=""></a>
</div>
