<meta charset="utf-8">
<title>sip.</title>
<link rel="stylesheet" href="/app.css">
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
<<<<<<< HEAD
<link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Petit+Formal+Script&display=swap" rel="stylesheet">
=======
>>>>>>> 18ad60977e896557b70ed6da726d3bc537a9629d
