<div class="menu">
  <li><a href="/sip/about">About</a></li>
  <li><a href="/sip/red">Red</a></li>
  <li><a href="/sip/white">White</a></li>
  <li><a href="/sip/rose">Rosé</a></li>
  <li><a href="/sip/contact">Contact</a></li>
  <li><a href="/new">Login</a></li>
</div>
