  <div class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/sip/red">Red</a></li>
    <li><a href="/sip/white">White</a></li>
    <li><a href="/sip/rose">Rosé</a></li>
    <li><a href="/sip/contact">Contact</a></li>
  </div>
