<div class="topnav">
  <div class="wine-logo">
    <a href="/sip"><h1>Sip</h1></a>
  </div>
  <a href="/sip/about">About</a>
  <a href="/sip/red">Red</a>
  <a href="/sip/white">White</a>
  <a href="/sip/rose">Rosé</a>
  <a href="/sip/contact">Contact</a>

    <div class = "search">
      <input oninput = "Search((this.value).toLowerCase())" type="text" placeholder="Search.." >
      <button type="submit">SEARCH</button>
    </div>
</div>


  <script>
  function Search(item){
    let collection = document.getElementsByClassName("wine-content");
    for (i = 0;i < collection.length; i++){
        if (((collection[i].innerHTML).toLowerCase()).indexOf(item) > -1) {
            collection[i].style.display = "block";
            } else {
                collection[i].style.display = "none";
                }
    }
      }
  </script>
