<div class="topnav">
  <div class="wine-logo">
    <a href="/sip"><h1>Sip</h1></a>
  </div>
  <a href="/sip/about">About</a>
  <a href="/sip/red">Red</a>
  <a href="/sip/white">White</a>
  <a href="/sip/rose">Rosé</a>
  <a href="/sip/contact">Contact</a>

    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
    </form>
    <button type="submit">SEARCH</button>

    <ul class="right">
      <li><a href="/sip/new">Create a new account</a></li>
      <% if (currentUser) { %>
      </li>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" class="btn-small red" />
        </form>
      </li>
      <% } else { %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
      <% } %>
    </ul>

</div>
