<div class="topnav">
  <div class="wine-logo">
    <a href="/sip"><h1>Sip</h1></a>
  </div>
  <a href="/sip/about">About</a>
  <a href="/sip/red">Red</a>
  <a href="/sip/white">White</a>
  <a href="/sip/rose">Rosé</a>
  <a href="/sip/contact">Contact</a>

    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">SEARCH</button>
    </form>

</div>
