<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/wine-logo.ejs') %>

    <%- include('./partials/wine-nav.ejs') %>
    <div class="about-container">
      <h1>About Sip.</h1>
    </div>
  </body>
</html>
