<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>
    <div class="about-container">
      <h1>About Sip.</h1>
    </div>
  </body>
</html>
