<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>
    <div class="contact-container">
      <h1>Contact Sip.</h1>

    </div>

  </body>
</html>
