<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="background">

    <%- include('./partials/wine-nav.ejs') %>
    <div class="contact-container">
      <h1>Contact Sip.</h1>
    </div>
    <div class="contact-form">
      <form action="action_page.php">

        <input type="text" id="fname" name="firstname" placeholder="Your name"> <br/>

        <input type="text" id="lname" name="lastname" placeholder="Your last name">

        <input type="text" id="email" name="email" placeholder="Email Adress">

        <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea> <br/>

        <input type="submit" value="Submit">

      </form>
    </div>
        <%- include('./partials/footer.ejs') %>
  </body>
</html>
