<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <section class="showcase">
      <%- include('./partials/logo.ejs') %>

<<<<<<< HEAD
      <video src="https://i.imgur.com/eKH8jJC.mp4"  autoplay loop muted>

      </video>
=======
      <%- include('./partials/video.ejs') %>
>>>>>>> 18ad60977e896557b70ed6da726d3bc537a9629d

      <%- include('./partials/menu.ejs') %>
    </section>
  </body>
</html>
