<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sip.</title>
  </head>
  <body>
    <div>
    <h1 class="logo">Sip.</h1>
  
    <a href="/sip/red">Red</a>
    <a href="/sip/white">White</a>
    <a href="/sip/rose">Rosé</a>
  </div>
  </body>
</html>
