<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <section class="showcase">
    <%- include('./partials/main-logo.ejs') %>
    <%- include('./partials/video.ejs') %>
    <%- include('./partials/menu.ejs') %>
  </section>

</body>
</html>
